<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
{{- partial "head.html" . -}}
<body>
    <div class="container">
        {{- partial "header.html" . -}}
    </div>

    <div class="container" >
        {{ block "main" . }}{{ end }}
        {{ partial "footer.html" . }}
    </div>
</body>
</html>
